player-connection-mode=Listen
player-connection-guid=3342298296
player-connection-debug=0
player-connection-project-name=AvatarEnvTest
player-connection-ip=192.168.50.191
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
